.metodoAgregado {
    background-color: #c9c5c554;
    cursor: pointer;
    font-weight: 500;
    color: #555;
    border: 1px solid #bfbfbf;

}

.contenedorMetodosAgregados{
    padding-bottom: 10px;
}


.metodoAgregadoSeleccionado {
    background-color: #f3f3f3;
    animation: animationTest 0.3s ease-in-out 1;
    border: 1px solid transparent;
}


@keyframes animationTest {
    0% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(-5%);
    }

    100% {
        transform: translateY(0%);
    }
}


.circleXMark:hover,
.circleXMark:active {
    color: rgb(223, 72, 72);
    transform: scale(1.2);
}