
/*Navegacion pagos*/
.navegacionPagos {
    border: var(--lineaPunteada);
    border-bottom: 0;
}

.botonVolver {
    cursor: pointer;
    background-color: #D3D3D3;
}

.botonDetalle {
    background-color: #D3D3D3;
    cursor: not-allowed;
}


.botonDetalleActivo {
    cursor: pointer;
    background-color: #6EC89B;
}

.botonDetalleActivo {
    animation: buttonEffect 0.5s infinite alternate ease-in-out;
}

@keyframes buttonEffect {
    to {
        opacity: 0.9;
    }

    from {
        opacity: 0.7;
    }
}

/**/

.contendorPagosPrincipal {
    background-color: #e2e2e2a9;
}

.contenedorPagos {
    max-width: 75%;
    background-color: #e2e2e2a9;

}


.textPagos {
    color: var(--colorGris);
    font-weight: 600;
}

.contenedorDePagoBody {
    border: var(--lineaPunteada);
}

.seccionResto {
    border-left: var(--lineaPunteada);
    height: 100%;
}

.textoDeAyuda {
    color: var(--colorGris);
}


.restoTotal {
    color: #6EC89B;
    font-weight: 600;
    font-size: 55px;
    text-shadow: 3px 3px 2px rgba(255, 255, 255, 0.6);
}


.textDeAyuda {
    color: var(--colorGris);
}

.restantes {
    color: var(--colorGris);
}

.restoNumero {
    color: #6EC89B;
    font-weight: 600;
    text-shadow: 3px 3px 2px rgba(255, 255, 255, 0.6);
}

.adeudoTotal {
    color: var(--colorGris);
    font-size: 18px;
}

.cambio {
    color: var(--colorGris);
    font-weight: 500;
}

.numerosTotales {
    height: 200px;
    border-bottom: var(--lineaPunteada);
}



.botonesTactilesResize {
    top: 2%;
    left: 0%;
    width: 0%;
    height: 0%;
    animation: expandWidth 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

.contendorDeBotonesTactiles button {
    width: 75px;
    height: 75px;
    font-size: 20px;
}

.botonesTactilesResize .contendorDeBotonesTactiles {
    animation: animationCalculadora 0.8s ease-in backwards;
    z-index: 0;
    box-shadow: 10px 10px 19px -2px rgba(118, 132, 163, 0.75);
    width: fit-content;
    opacity: initial;
}

@keyframes animationCalculadora {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    75% {
        opacity: 0.75;
    }

    100% {
        opacity: 1;
    }
}


@keyframes expandWidth {
    0% {
        width: 0%;

    }

    100% {

        width: 100%;
    }
}

/*MQ*/

@media (max-width : 766px) {
    .seccionResto {
        border: 0;
    }

    .restoTotal {
        font-size: 45px
    }

    .contenedorDePagoBody,
    .navegacionPagos {
        border: 0;

    }

    .contenedorPagos {
        max-width: 100%;
    }

    .contendorDeBotonesTactiles button {
        width: 60px;
        height: 60px;
        font-size: 20px;
    }

}

@media (min-width : 768px) {

    .botonVolver,
    .botonDetalle,
    .botonDetalleActivo {
        border-radius: 4px;
    }



    @keyframes buttonEffect {
        0% {
            transform: scale(0.9);
            opacity: 0.8;
        }

        100% {
            transform: scale(1);
            opacity: 0.8;
        }
    }

}


@media (max-width : 1366px) {

    .contendorDeBotonesTactiles button {
        width: 65px;
        height: 65px;
        font-size: 19px;
    }

}