.navegacionHeader {
    background-color: #875A7B;
    z-index: 44;
    max-height: 50px;
}


.contenedorFormSearch {
    background-color: white;
}

@media (max-width: 768px) {
    .navegacionHeader {
        max-height: 100%;
  }
}
