/*Producto*/

.producto {
    width: 130px;
    max-width: 130px;
    height: 120px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border: 1px solid #e2e2e2;

}

.producto:active {
    border: 3px solid #ade993d5;
}

.producto:active p:nth-child(1) {
    background-color: #ade993d5;
}

.contendorPlantillaProductos {
    background-color: #f5f0f0;

}


/*SECCIONES DE PRODUCTOS*/

.arrowHome {
    position: absolute;
    right: -21%;
    top: 3.5%;
    background-color: #d3d3d3
}



.seccionesContainer {
    color: #686666;
    font-size: 15px;
    background-color: #d3d3d3;
    border-bottom: 3px solid rgb(110, 200, 155);
}


.botonesSeccion {
    cursor: pointer;
    border-right: 1px solid rgb(193, 191, 191);
    padding: 10px;
    background-color: #d3d3d3;
 }


@media (max-width : 1200px) {
    .ContainerDeProductos {
        flex-grow: 1;
        height: 100%;
    }
}