.botonPagos i {
    font-size: 70px;
    cursor: pointer;
}


.botonPagos i {
    color: #555;
    border: 1px solid transparent;

}

.botonPagos i:hover {
    color: #6Ec89B;
    box-shadow: 2px 2px 0px 0px rgba(255, 255, 255, 0.75);
    border-radius: 50%;
    animation: buttonEffect 0.8s infinite alternate ease-in-out;
}



@keyframes buttonEffect {
    0% {
        transform: translateY(0%);
        opacity: 0.8;
    }

    50% {
        opacity: 0.7;
    }

    100% {
        transform: translateY(-6px);
        opacity: 0.6;
    }
}


.botonPagos p {
    color: #555;
}

.contenedorPlantillaPagos {
    background-color: #e2e2e2;
}

.contenedorBotonesTactiales button {
    flex: 1;
    min-height: 70px;
    min-width: 55px;
    height: 100%;
    font-size: 23px;
    transition: 0.3s all;
    background-color: transparent;
}

.textoConsumidorFinal {
    height: 33%;
    border: 1px solid #bfbfbf;
    color: #555
}

.textoConsumidorFinal p {
    font-size: 15px;
}

.contenedorDeBotonpagos {
    border: 1px solid #bfbfbf
}

@media (max-height : 900px) {
    .contenedorBotonesTactiales button {
        min-height: 55.5px;
    }
}


@media (max-height : 700px) {
    .contenedorBotonesTactiales button {
        min-height: 50px;
    }
}
