.contenedorCobroPrincipal {
    border-bottom: 4px solid rgb(110, 200, 155);
    overflow-x: hidden;
}



/*Productos*/
.productosACobrar {
    cursor: pointer;
    font-size: 14px;
}

.contenedorDelProducto {
    margin-top: 2px;
    outline: none;
}

.productosACobrar:focus {
    outline: 2px solid rgba(65, 64, 64, 0.377);
    border-radius: 2px;
}

.nombreDelProducto {
    color: #555555;
    font-weight: 600px;
}

.infoDelProducto {
    margin-bottom: -10px;
    color: #888;
}

.precioTotalDelProducto {
    color: #555555;
}


.contenedorCobroProductoNoSeleccionado:hover {
    background-color: rgba(140, 143, 183, 0.078);
    transition: 0.2s all;
}


.contendorCobroProductoSeleccionado {
    transition: 0.2s all;
    background-color: rgba(140, 143, 183, 0.2);
}

.contendorCobroProductoSeleccionado .infoDelProducto {
    overflow-x: overlay;
}

.contendorCobroProductoSeleccionado .infoDelProducto::-webkit-scrollbar {
    height: 12px;
}

.contendorCobroProductoSeleccionado .infoDelProducto::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0);
}

.contendorCobroProductoSeleccionado .infoDelProducto::-webkit-scrollbar-thumb {
    background-color: #555555;
    border-radius: 10px;
}
